@import "tailwindcss";
@import url('/fonts/satoshi/satoshi.css');

:root {
  --background: #f7f7f7;
  --foreground: #191919;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Satoshi", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: inherit;
}